.fbrUkR {
  width: 30%;
}
.sc-fzoyAV.ckYNiA{
  position: relative;
  width: 100%;
}
.dUhmrO {
  position: relative;
  width: 100%;
  max-width: 800px;
  height:100%;
  top: 0;
  display: block;
  /* left: 400px; */
}

.sc-fznyAO.NhKju {
  z-index: 2;
}

/* .ckYNiA {  
  align-content: center;} */